<h1>Editing server software</h1>

<%= render "form", server_software: @server_software %>

<br>

<div>
  <%= link_to "Show this server software", @server_software %> |
  <%= link_to "Back to server softwares", server_softwares_path %>
</div>
