<div id="<%= dom_id server_person %>">
  <p>
    <strong>Server:</strong>
    <%= server_person.server_id %>
  </p>

  <p>
    <strong>People:</strong>
    <%= server_person.people_id %>
  </p>

</div>
