<div id="<%= dom_id software %>">
  <p>
    <strong>Category:</strong>
    <%= software.category %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= software.expires_at %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= software.name %>
  </p>

</div>
