.sm-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sm-sidebar {
  width: 0;
  height: 100%;
  transition: all 0.15s;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
}

.sm-sidebar--expanded {
  width: 100%;
}

.sm-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: all 0.15s;
}

.sm-content--expanded {
  width: 0;
}

@media (min-width: 768px) {
  .sm-sidebar {
    max-width: 250px;
  }
  .sm-content--expanded {
    width: 100%;
  }
  .sm-sidebar__close {
    display: none;
  }
}
