<div class="row">
  <div class="col-8">
    <h1>Edit Hardware for <%= @hardware.server.name %></h1>
  </div>
  <div class="col-4 text-end">
    <%= link_to "Back to server", server_url(@hardware.server, tab: "hardware"), class: "btn btn-outline-secondary" %>
  </div>
</div>
<%= render "form", hardware: @hardware %>
<br>
