<header class="sm-header">
  <button class="sm-button sm-header__menu">
    <i class="fa-solid fa-bars"></i>
  </button>
  <h1>Soft Management</h1>
  <div class="sm-header__search ms-auto d-none d-lg-block">
    <form class="form-inline">
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-search"></i></span>
        <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      </div>
    </form>
  </div>
  <div class="ms-auto d-flex">
    <div class="d-lg-none dropdown">
      <button class="sm-button sm-header__search" type="button" data-bs-toggle="dropdown">
        <i class="fa-solid fa-search"></i>
      </button>
      <div class="dropdown-menu">
        search
      </div>
    </div>
    <div class="dropdown">
      <button class="sm-header__avatar dropdown-toggle" type="button" data-bs-toggle="dropdown">
        <img src="https://avatars.githubusercontent.com/u/41020086?v=4" alt="User photo" />
      </button>
      <div class="dropdown-menu">
        <div class="row">
          <div class="col-8">
            <p>Mlabs Software Ltda</p>
          </div>
          <div class="col-4"><a class="logout" href="#">Logout</a></div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-5"><img src="https://avatars.githubusercontent.com/u/41020086?v=4" alt="User photo" />
          </div>
          <div class="col-7">
            <h2>Luiz Almeida</h2>
            <p>luizhrqas@gmail.com</p>
            <a href="#">Minha Conta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
