<div class="sm-sidebar">
  <button class="sm-button sm-sidebar__close"><i class="fa-solid fa-xmark"></i></button>
  <h3>Configuration Management</h3>
  <div class="list-group list-group-flush">
    <a href="<%= servers_url %>" class="list-group-item list-group-item-action">Servers</a>
    <a href="<%= people_url %>" class="list-group-item list-group-item-action">People</a>
    <a href="<%= softwares_url %>" class="list-group-item list-group-item-action">Softwares</a>
    <a href="<%= softwares_url %>" class="list-group-item list-group-item-action">Locations</a>
  </div>
</div>
